*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
}

.tab.current-tab {
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}

.grantAcesses-Container {
    display: none;
}

.grantAcesses-Container.active {
    display: flex;
}

.loading-container {
    display: none;
}

.loading-container.active {
    display: block;
}

.user-info-container {
    display: none;
}

.user-info-container.active {
    display: block;
}

.form-container {
    display: none;
}

.form-container.active {
    display: flex;
}